 <head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
 <header class="nav">
  <img src="https://vectr.com/jreyes16/a1elNX2a1K.svg?width=478.1617230769233&height=296.56159079016226&select=a68TuDADv4,a1EJP0JMHe,a21Ferkkz&source=selection"class="logo">
</nav>
<h1>Book Requests</h1>
<lable>Request ID</lable>
<h3><%= params[:id] %></h3>
<label>Name</label>
<h2><%= @book.name %></h2>
<label>Email</label>
<h2><%= @book.email %></h2>
<lable>Book Title</lable>
<h2><%= @book.book_title %></h2>
<lable>Days Needed </lable>
<h2><%= @book.days_needed %></h2>
<label>Response</label>
<h2><%= @book.intrested_response %></h2>
 <hr>

<a href="/book/edit/<%= @book.id %>" >Edit</a>
<a href="/book/destroy/<%= @book.id %>" >Delete</a>
<a href="/" >BACK TO BOOK REQUESTS</a>
